<div class="container">
    <form>
        <div class="flex-col">
            <div class="flex justify-center">
                <h2 class="inline-block text-xl font-bold pt-5 pb-5">Add Repository</h2>
            </div>
            <div class="flex-col pb-10">
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Repository Name</mat-label>
                        <input matInput [formControl]="repository" placeholder="microsoft/vscode">
                    </mat-form-field>
                </div>
                <div class="flex flex-col">
                    <div>
                        <button mat-raised-button class="w-full" type="button" color="primary" (click)="verifyRepository()">Verify
                            Repository</button>
                    </div>
                    <!-- <div>
                        <mat-icon *ngIf="repositoryId" class="self-center text-green-700">check_circle</mat-icon>
                    </div>                     -->
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="pt-3 pb-4">
                <mat-form-field class="w-full">
                    <mat-label>Select Labels</mat-label>
                    <mat-chip-list #chipList aria-label="Label selection">
                        <mat-chip *ngFor="let label of selectedLabels" [selectable]="selectable" removable="true"
                            (removed)="remove(label.id)">
                            {{label.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New Label..." #labelInput [formControl]="labelPrefix"
                            [matAutocomplete]="auto" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let mlabels of matchingLabels | async" [value]="mlabels">
                            {{mlabels.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="flex flex-col pb-6">
                <div>
                    <button mat-raised-button class="w-full" type="button" color="primary" (click)="onAdd()">Add</button>
                </div>
                <div class="flex justify-center pt-2">
                    <a mat-button (click)="cancelAddRepository()">Cancel</a>
                </div>                                
            </div>
        </div>
    </form>
</div>